services:
  # 1. База данных
  db:
    image: postgres:15-alpine
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: memofold
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # 2. Бэкенд (Go)
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    env_file:
      - .env
    depends_on:
      - db

  # 3. Фронтенд (Nginx + React)
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    restart: always
    ports:
      - "80:80" # Открываем наружу порт 80
    depends_on:
      - backend
  migrate:
    image: migrate/migrate
    volumes:
      - ./backend/db/migrations:/migrations
    command: -path=/migrations/ -database "postgres://myuser:mypassword@db:5432/memofold?sslmode=disable" up
    depends_on:
      - db
volumes:
  postgres_data: